h1, h3, input, button, p , span{
  font-family: 'Jura', Inconsolata, monospace;
  padding: 2vmin;
  margin-top: 2vmin;
  outline: none;
}

h1 {
  font-weight: bold;
  color: #73aeab;
}

body {
  background: #ffefc7;
}

button {
  background: #73aeab;
  border-radius: 1vmin;
  border: none;
  color : white;
}

.black {
  background-color : black;
  color:  white;
  border: 1px solid black;
}

.black-border {
  border: 1px solid black;
}

.shadow {
  box-shadow: 3px 3px gray;
}

button.shadow:active {
  box-shadow: none;
  transform: translate(2px, 2px)
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.right {
  text-align: right;
}

.limit-width {
  width: 68vmin;
}

.nowrap {
  white-space: nowrap;
}

.text-shadow {
   text-shadow: 1px 1px lightgray;
}

.feedback {
  position: fixed;
  bottom: 1vmin;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2vmin;  
  color: #73aeab;
}

.fb-icon {
  width: 4vmin;
  height: 4vmin;
  vertical-align: text-bottom;
}