p{

  text-align: left;
}
.message-user, .message-content, #put > p{
  display: inline-block;
  font-size: 3vmin;
  color: white;
}

.message-user {
  font-weight: bold;
}

.queue p {
  display: inline-block;
  margin: 0.6vmin;
  padding: 0px;
  text-align: left;
}

.queue div {
  text-align: left;
}

.queue > * {
  font-size: 2vmin;
}
.queue-current-label, .queue-current-name {
  font-weight: bold;
  color: #73aeab;
}

.queue-next-label, .queue-next-name {
  color: #73aeab;
}


#chatbox {
  overflow: scroll;
  overflow-x: hidden;
  height: 40vmin;
  border-radius: 5px;
}
/* width */
#chatbox::-webkit-scrollbar {
    width: 2vmin;
}

/* Track */
#chatbox::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
#chatbox::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
#chatbox::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


#quit{
  margin-bottom: 1vmin;
  padding: 1vmin;
  font-weight: bold;
  font-size: 3vmin;
  display: inline-block;
}

#btn-put, #inp-put {
  font-size: 4vmin;
}

#btn-put {
  font-weight: bold;
}

#inp-put {
  width:  42vmin;
}


#player-name {
  display: inline-block;
  width: 45vmin;
  padding: 0px;
  font-size: 2vmin;
  color: #73aeab;
  font-weight: bold;
}

#chatbox {
  background: #73aeab;
}
