p{

  text-align: left;
}
.message-user, .message-content, #put > p{
  display: inline-block;
}

.message-user {
  font-weight: bold;
}

.queue p {
  display: inline-block;
  margin: 0.6vmin;
  padding: 0px;
  text-align: left;
}

.queue div {
  text-align: left;
}

.queue-current-label, .queue-current-name {
  font-weight: bold;
}

#chatbox {
  overflow: scroll;
  overflow-x: hidden;
  height: 40vmin;
}

#quit{
  margin-bottom: 1vmin;
  padding: 1vmin;
  font-weight: bold;
  font-size: 3vmin;
  display: inline-block;
}

#btn-put {
  font-weight: bold;
}

#inp-put {
  width:  53vmin;
  color: black;
}


#player-name {
  display: inline-block;
  width: 55vmin;
  padding: 0px;
}
