h1 {
  font-size: 14vmin;
}

input {
  font-size: 4vmin;
  border:  none;
  background: #efa18c;
  border-radius: 1vmin;
  color: white;
}

input::placeholder{
  color: white;
  opacity: .5;
}

button {
  font-size: 4vmin;
}

.by {
  position: fixed;
  float: right;
  margin: 0px;
  padding: 0px;
  top: 23vmin;
  right: 33vw;
  font-size: 2vmin;
}

.or-text {
  margin: 1vmin;
  padding: 0px;
  color: #73aeab;
}


#inp-roomid {
  width: 20vmin;
}

#inp-name {
  text-align: center;
  width: 90%;
  margin-bottom: 12vmin;

}

#img-dice {
  vertical-align: middle;
  display: inline-block;
  width: 9vmin;
  height: 9vmin;
}

#cdice {
  vertical-align: middle;
  display: inline-block;
  width: 9vmin;
  height: 9vmin;
}

#btn-join {
  width: 8em;
}

#warning {
  text-align: center;
  padding: 0px;
  margin: 0px;
  color: red;
  font-size: 3vmin;
}

