h1 {
  font-size: 14vmin;
  font-weight: lighter;
}

input {
  font-size: 4vmin;
  border: 1px solid black;
}

button {
  font-size: 4vmin;
}
.or-text {
  margin: 1vmin;
  padding: 0px;
}

.name-wrapper {
  margin-bottom: 12vmin;
}

#inp-roomid {
  width: 30vmin;
}

#inp-name {
  text-align: center;
  width: 50vmin;
}

#img-dice {
  vertical-align: middle;
  display: inline-block;
  width: 9vmin;
  height: 9vmin;
}

#cdice {
  vertical-align: middle;
  display: inline-block;
  width: 9vmin;
  height: 9vmin;

}

#btn-join {
  width: 8em;
}


