.room-info {
  background: lightgray;
  margin-top: 1vmin;
  margin-bottom: 0px;
  padding: 1vmin;
}

#p-room-id {
  font-size: 5vmin;
  font-weight: bold;
  text-align: left;
  margin-left: 1em;
  margin-bottom: 0px;
}

#player-list {
  height: 60vh;
}
