img {
  width: 4vmin;
  height: 4vmin;
  display: inline-block;
}
.border-box {
  box-sizing: border-box;
}
.room-info {
  margin-top: 4vmin;
  margin-bottom: 0px;
  padding: 1vmin; text-align: left;
  border: none;

}

.player{
  display: block;
  height: 10vmin;
  width: 100%;
  background: #FFF;
  text-align: left;

}
.player-wrapper {
  display: block;
  position: relative;
  top:50%;
  transform: translate(0, -50%);
  padding: 0px;
}

.player-wrapper > * {
  display: inline-block;
  vertical-align: middle;
}

.player:nth-child(odd) {
  background: #e6dde4;
}

.player:nth-child(even) {
  background: #efa18c;
}


.p-name {
  width: 45vmin;
  padding: 0;
  font-size: 4vmin;
  margin: 0;
  margin-left : 1vmin;
}
.img-crown {
  margin-left: 1em;
}

.btn-kick{
  opacity: 0.5;
  border: none;
  outline: none;
  padding: 0;
  width: 4vmin;
  height: 4vmin;
  background: none;
  font-size: 2.5vmin;
  font-weight: bold;
}

.btn-kick:active {
  transform: translate(1px, 1px);
}

.btn-kick:hover{
  opacity: 1;
  font-weight: bold;
}

.btn-quit {
  padding: 1vmin;
  font-weight: bold;
  font-size: 3vmin;
}
#p-room-id {
  padding: 0;
  font-size: 5vmin;
  font-weight: bold;
  text-align: left;
  margin: 2vmin 0 2vmin 0vmin;
  color : #73aeab;
  width: 43.2vmin;
  display: inline-block;
}

#player-list {
  height: fit-content;
  overflow: hidden;
  border-radius: 1vmin;
}

#btn-start {
  font-size: 4vmin;
  padding: 1vmin;
  position: fixed;

  bottom: 10vmin;
  left: 50%;
  transform: translate(-50%, 0);
}

#img-lock {
  margin-right: 2vmin;
  margin-left: 1.4vmin;
  position: relative;
  display: inline-block;
}
#img-lock + .tooltiptext {
  font-size: 3vmin;
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 3px;
  position: absolute;
  transform:translate(-65%, -111%)
}
#img-lock:hover + .tooltiptext {
    visibility: visible;
}
#img-lock + .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

